@import url('../css/part/nav.css');
@import url('../css/part/home.css');
@import url('../css/part/about.css');
@import url('../css/part/get-in-touch.css');
@import url('../css/part/skills.css');
@import url('../css/part/font.css');
@import url('../css/google-fonts.css');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1100px;
    margin: 0 auto;
}

#home::before {
    content: ' ';
    width: 100%;
    height: 700px;
    background-image: url(../img/background.png);
    background-position: center;
    opacity: 0.6;
    z-index: -10;
    margin-top: 71px;
}
