#education {
    padding: 70px 0 40px 0;
    background-color: #f2f2f2;
}

#education>h2 {
    margin-bottom: 50px;
}

#education>div>div {
    display: flex;
    flex-wrap: wrap;
    margin: 3% 7%;
}

#education>div>div>div {
    width: 60%;
}

#education>div>div>p {
    width: 40%;
    min-width: 240px;
    text-align: right;
}

@media screen and (max-width: 697px) {
   #education>div>div>div {
    width: 100%;
}

#education>div>div>p {
    min-width: 240px;
    text-align: left;
}


}
