#about {
    margin-top: 200px;
    background-color: #f2f2f2;
    height: auto;
    padding: 70px 0 40px 0;
}

#about>div {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 64px;
    width: 64px;
    margin: 8.5px 0;
}

#about-left-column,
#about-right-column {
    width: 320px;
    height: 320px;
}

#about-left-column>div,
#about-right-column>div {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

aside>div>div>p {
    margin: 7px;
}

#about-right-column>div>div>p {
    text-align: right;

}

#face {
    border-radius: 300px;
    height: 350px;
    width: 350px;
}


@media screen and (max-width: 460px) {
    #about>div {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    #face {
        border-radius: 300px;
        height: 300px;
        width: 300px;
    }

}
