#education {
    padding: 70px 0 40px 0;
    background-color: #f2f2f2;
}

#education>div>div {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin: 3% 7%;
}
#education>div>div>div{
    width: 60%;
}
#education>div>div>p{
    width: 40%;
    min-width: 240px;

}

