#skills {
    background-color: #f2f2f2;
    padding-bottom: 80px;
}

#skills>div {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skills>h2 {
    padding: 70px 0 40px 0;
}

div.skills {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.skills>img {
    max-width: 100px;
    max-height: 100px;
}

.skills p {
    text-align: center;
    margin-top: 17px;
    font-size: 30px;
    color: #2c3e50;
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 440px) {
    .skills p {
        font-size: 20px;
    }
    div.skills>img {
        max-width: 80px;
        max-height: 80px;
    }
}

@media screen and (max-width: 870px) {
    div.skills {
        padding: 2% 5%;

    }
}
