#skills {
    background-color: #f2f2f2;
    padding-bottom: 80px;
}

#skills>div {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skills>h2 {
    padding: 70px 0 40px 0;
}

div.skills {
    padding: 20px;
}

div.skills>img {
    width: 128px;
    height: 128px;
}

.skills p {
    text-align: center;
    margin-top: 17px;
    font-size: 30px;
    color: #2c3e50;
    font-family: 'Lato', sans-serif;
}
